@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-button {
    @apply flex [&>img]:invert-[20%] [&>img]:sepia-[59%] [&>img]:saturate-[4853%] [&>img]:hue-rotate-[33deg] [&>img]:brightness-[97%] [&>img]:contrast-[102%] flex-row gap-1 items-center justify-start w-fit px-2 py-1 rounded-lg bg-primary text-quinary duration-300 hover:bg-quaternary hover:text-primary [&>img]:hover:invert-[98%] [&>img]:hover:sepia-[100%] [&>img]:hover:saturate-[254%] [&>img]:hover:hue-rotate-[337deg] [&>img]:hover:brightness-[108%] [&>img]:hover:contrast-[104%] hover:translate-x-1 hover:-translate-y-1 shadow-lg;
}

.logout-button {
    @apply absolute bottom-4 flex flex-row items-center justify-between w-40 px-2 py-1 rounded-lg bg-errorBg text-errorText duration-300 hover:bg-errorText hover:text-primary [&>img]:hover:invert-[98%] [&>img]:hover:sepia-[100%] [&>img]:hover:saturate-[254%] [&>img]:hover:hue-rotate-[337deg] [&>img]:hover:brightness-[108%] [&>img]:hover:contrast-[104%] hover:translate-x-1 hover:-translate-y-1 shadow-lg;
}

.note-sidebar-card {
    @apply overflow-hidden flex flex-row items-center justify-between w-40 min-h-8 px-2 py-1 rounded-lg bg-infoBg text-quaternary duration-300 hover:bg-quaternary hover:text-infoBg shadow-lg;
}

.delete-note-button{
    @apply absolute right-12 top-12 rounded-lg p-2 border-2 border-errorText shadow-md bg-errorBg hover:scale-110 duration-300 hover:bg-errorText [&>img]:hover:invert-[98%] [&>img]:hover:sepia-[100%] [&>img]:hover:saturate-[254%] [&>img]:hover:hue-rotate-[337deg] [&>img]:hover:brightness-[108%] [&>img]:hover:contrast-[104%];
}

.scale-on-hover {
    @apply hover:scale-125;
}

.h1 {
    @apply text-4xl font-bold;
}

.p {
    @apply text-xl;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #002379;
    border-radius: 25px;
}